<div class="container">
    <button (click)='generatePDF()'>Generate PDF</button>
    <div id="exportform">
        <button>Add New</button>

        <br>
        <label for="certs">Choose a Certification:</label>
        <select name="certs" id="certs" >
            <option *ngFor="let option of dropDownOptions" [value]="option.id">{{option.name}}</option>
        </select>
        <br>
    </div>

    <table>
        <tr>
            <td>
                <mat-form-field>
                    <mat-label>Employee Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>

            <td>
                <mat-form-field>
                    <mat-label>Certification Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td><mat-checkbox>Required by ROC</mat-checkbox></td>
        </tr>
        <tr>
            <td><mat-checkbox>Personal</mat-checkbox></td>
        </tr>
    </table>

    <mat-form-field>
        <mat-label>Reason for Certification</mat-label>
        <input matInput>
    </mat-form-field>

    <table>
        <tr>
            <td><mat-form-field>
                    <mat-label>Estimated Completion Time</mat-label>
                    <input matInput>
                </mat-form-field></td>

            <td><mat-form-field>
                    <mat-label>Estimated Completion Date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field></td>
        </tr>
        <tr>
            <td><mat-form-field>
                    <mat-label>Certification Expiry</mat-label>
                    <input matInput>
                </mat-form-field></td>

            <td><mat-form-field>
                    <mat-label>Certification Cost</mat-label>
                    <input matInput>
                </mat-form-field></td>
        </tr>
        <tr>
            <td><mat-form-field>
                    <mat-label>Previous Certifivation Cost</mat-label>
                    <input matInput>
                </mat-form-field></td>

            <td><mat-form-field>
                    <mat-label>Previous Certification Date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field></td>
        </tr>
    </table>

    <table>
        <tr>
            <td><mat-form-field>
                    <mat-label>Employee Signed</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field></td>

            <td><mat-form-field>
                    <mat-label>Lead Signed</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field></td>

            <td><mat-form-field>
                    <mat-label>Executive Signed</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field></td>
        </tr>
    </table>
    <button>Submit</button>
</div>