.container {
    color: black;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 2px;
    background-color: white;
}

table {
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
}

td {
    padding-left: 5%;
    padding-right: 5%;
    color: black;
}

hr {
    margin-left: auto;
    margin-right: auto;
}

mat-checkbox {
    color: black;
}

body {
    background-color: #E0AA51;
    padding: 30px;
}